<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Robo Club DTU</h1>
            <hr>
            <p>Welcome to the DTU Robo Club! Our club is a student-led organization at the Technical University of Denmark, dedicated to igniting a passion for robotics and AI.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
    <div class="overlay"></div> <!-- Add an overlay element -->
</header>
